# dependencies
node_modules/
web/node_modules/
functions/node_modules/

# builds
dist/
web/dist/
build/

# env (секреты)
.env
.env.local
web/.env.local
functions/.env
functions/.env.local

# firebase local cache
.firebase/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system / editor
.vscode/
.DS_Store
Thumbs.db